.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0056b3 !important; /* Blue background */
    color: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 70px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
  }
  
  .company-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: white !important;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #a3a3a3 !important; /* Optional: lighter hover color */
  }

  .basket-icon {
    width: 24px;
    height: 24px;
    color: white;
  }

  .basket-link {
    position: relative;
    display: inline-block;
  }
  
  .basket-icon {
    width: 24px;
    height: 24px;
  }
  
  .basket-counter {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  